<!-- /.login-box -->
<!-- jQuery 3 -->
<script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="/assets/plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
    $("#verify").click(function() {
      if( $("#email").val() != "" ){
        $.ajax({
          url: "controller/ajax.php",
          type: "post",
          dataType: "html",
          data: {
            method: "verify-user",
            user_email: $("#email").val()
          },
          success: function(ret) {
            if(ret == true){
              $(".response").html('<div class="alert alert-success">Um email de recuperação de senha foi enviado para o email <b>' + $("#email").val() + '</b>,caso você não possua mais acesso a este endereço de email,contate o administrador do sistema e solicite uma alteração na base de dados.</div>');
            }else{
              $(".response").html('<div class="alert alert-warning">Um email de recuperação de senha foi enviado para o email <b>' + $("#email").val() + '</b>,caso você não possua mais acesso a este endereço de email,contate o administrador do sistema e solicite uma alteração na base de dados.</div>');
            }
          }
        })
      }else{
        $("#email").val('Campo obrigatório!');
        setTimeout(function() {
          $("#email").val('').focus()
        },1000)
      }
    })
  });
</script>
</html>
